<form (ngSubmit)=onSubmit(f) #f="ngForm">
  <table class="table">
    <tr><td>Name</td><td><input type="text" class="form-control" name="mname" id="" ngModel></td></tr>
    <tr><td>Actor</td><td><input type="text" class="form-control" name="mactor" id="" ngModel></td></tr>
    <tr><td>Actress</td><td><input type="text" class="form-control" name="mactress" id="" ngModel></td></tr>
    <tr><td>Director</td><td><input type="text" class="form-control" name="mdirector" id="" ngModel></td></tr>
    <tr><td></td><td><input type="submit" class="btn btn-primary" value="Add Movie"></td></tr>
  </table>
</form>